/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 1, 2016, 3:30:06 PM
    Author     : vgorcinschi
*/
.hand-on-hover:hover{
    cursor: pointer; 
    cursor: hand;
}

.selected-tab{
    background-color: #FF9210;
    color:white;
}

.move-button{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    border-radius: 65%;
    text-align:center;
    margin-left: 0.7em;
    margin-right: 0.7em;
}

.move-button:focus,
.move-button.focus{
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}

.move-button:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}

.move-button.disabled,
.move-button[disabled],
fieldset[disabled] .move-button,
.move-button.disabled:hover,
.move-button[disabled]:hover,
fieldset[disabled] .move-button:hover,
.move-button.disabled:focus,
.move-button[disabled]:focus,
fieldset[disabled] .move-button:focus,
.move-button.disabled.focus,
.move-button[disabled].focus,
fieldset[disabled] .move-button.focus,
.move-button.disabled:active,
.move-button[disabled]:active,
fieldset[disabled] .move-button:active,
.move-button.disabled.active,
.move-button[disabled].active,
fieldset[disabled] .move-button.active {
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.move-button .badge {
    color: #fff;
    background-color: #333;
}

.keep-buttons-left{
    margin-left: 6em; 
    float: left;
    //margin-bottom: 0.7em;
}

.keep-buttons-right{
    margin-right: 9em; 
    float: right;
    //margin-bottom: 0.7em;
}

.buttons-wrapper{
    margin-bottom: 4em;
}

.move-button-invisible{
    visibility: hidden;
}