<?xml version="1.0" encoding="UTF-8"?>
<configuration status="DEBUG">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="RimmaFileAppender" fileName="../logs/application.log"
             filePattern="../logs/application-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout>
                <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %c{36} %l: %msg %n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy min="1" max="4" />
        </RollingFile>
    </appenders>
    <loggers>
        <root level="warn">
            <appender-ref ref="Console" />
        </root>
        <logger name="com.vgorcinschi.rimmanew.rest.services.AppointmentResourceService" 
              level="debug" additivity="false">
            <appender-ref ref="Console" />
        </logger>
        <logger name="root" level="warn" additivity="false">
            <appender-ref ref="RimmaFileAppender" />
            <appender-ref ref="Console"/>
        </logger>        
    </loggers>
</configuration>